{% extends 'base.html' %}
{% load i18n %}
{% load socialaccount %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <title>
        {% trans "Log In" %}
    </title>
{% endblock head %}

{% block body %}
    <div class="login-container">
        <h3 class="login-title">{% trans "Log In" %}</h3>
        <form method="post">
            {% csrf_token %}
            <p>{{ form.username.label_tag }} {{ form.username }}</p>
            <p>{{ form.password.label_tag }} {{ form.password }}</p>
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button  class="button" type="submit">{% trans "Log In" %}</button>
        </form>
        <p class="register-link">
            {% trans "Don't have an account?" %} <a href="{% url 'register_customer' %}">{% trans "Sign Up here" %}</a>
        </p>
        <a class="google-login-btn" href="{% provider_login_url 'google' process='login' %}">
            <img src="{% static 'images/google_logo.png'%}" alt="Google Logo">
            {% trans "Log In with Google" %}
        </a>
    </div>

{% endblock body %}
