{% extends 'base.html' %}
{% load i18n %}
{% load socialaccount %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <title>
        {% trans "Log In" %}
    </title>
{% endblock head %}

{% block body %}
    <div class="login-container">
        <h3 class="login-title">{% trans "Log In" %}</h3>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">{% trans "Log In" %}</button>
        </form>
        <p class="register-link">
            {% trans "Don't have an account?" %} <a href="{% url 'register_customer' %}">{% trans "Sign Up here" %}</a>
        </p>
        <button onclick="openOAuthPopup('{% provider_login_url 'google' process='login' %}')">
            {% trans "Log In with Google" %}
        </button>
    </div>

<script>
function openOAuthPopup(url) {
    const popup = window.open(url, "OAuthLogin", "width=500,height=700");
    if (!popup) alert("Permite ventanas emergentes.");
}
</script>
{% endblock body %}
