{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <title>
        Log In
    </title>
{% endblock head %}

{% block body %}
    <div class="login-container">
        <h3 class="login-title">Log In</h3>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Log In</button>
        </form>
        <p class="register-link">
            Don't have an account? <a href="{% url 'register_customer' %}">Sign Up here</a>
        </p>
    </div>
{% endblock body %}
