{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/register_user.css' %}?v=1">
    <title>
        Sign Up Admin
    </title>
{% endblock head%}

{% block body %}
    <div class="register-container">
        <h3 class="content">Sign Up an Admin</h3>

        <form method="post" autocomplete="off">
            {% csrf_token %}

            <div class="form-content">
                <p>{{ form.username.label_tag }} {{ form.username }}</p>
                <p>{{ form.first_name.label_tag }} {{ form.first_name }}</p>
                <p>{{ form.last_name.label_tag }} {{ form.last_name }}</p>
                <p>{{ form.email.label_tag }} {{ form.email }}</p>
                <p>{{ form.password.label_tag }} {{ form.password }}</p>
                <p>{{ form.confirm_password.label_tag }} {{ form.confirm_password }}</p>
            </div>

            <button type="submit" class="btn-register green">Sign Up Admin</button>
        </form>
    </div>
{% endblock body %}