{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/register_user.css' %}?v=1">
    <title>
        {% trans "Sign Up Form" %}
    </title>
{% endblock head%}

{% block body %}
    <div class="register-container">
        <h3 class="content">{% trans "Sign Up Form" %}</h3>

        <form method="post" autocomplete="off">
            {% csrf_token %}

            <div class="form-content">
                <p>{{ form.username.label_tag }} {{ form.username }}</p>
                {% if form.errors.username %}
                    <div class="error">
                            {{ form.errors.username }}
                    </div>
                {% endif %}
                <p>{{ form.first_name.label_tag }} {{ form.first_name }}</p>
                <p>{{ form.last_name.label_tag }} {{ form.last_name }}</p>
                <p>{{ form.email.label_tag }} {{ form.email }}</p>
                {% if form.errors.email %}
                    <div class="error">
                            {{ form.errors.email }}
                    </div>
                {% endif %}
                <p>{{ form.password.label_tag }} {{ form.password }}</p>
                {% if form.errors.password %}
                    <div class="error">
                            {{ form.errors.password }}
                    </div>
                {% endif %}
                <p>{{ form.confirm_password.label_tag }} {{ form.confirm_password }}</p>
                {% if form.errors.confirm_password %}
                    <div class="error">
                            {{ form.errors.confirm_password }}
                    </div>
                {% endif %}
                {% if form.is_admin and request.user.is_authenticated and request.user.is_superuser or request.user.is_staff %}
                        <p>{{ form.is_admin.label_tag }} {{ form.is_admin }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn-register green">{% trans "Sign Up" %}</button>
        </form>
    </div>
{% endblock body %}
