{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/register_user.css' %}?v=1">
    <title>
        Registrate admin
    </title>
{% endblock head%}

{% block body %}
    <div class="login-container">
        <h3 class="login-title">Create administrator account</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">Register</button>
        </form>
    </div>
{% endblock body %}