{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/register_user.css' %}?v=1">
    <title>
        Registrate admin
    </title>
{% endblock head%}

{% block body %}
    <div class="register-container">
        <h3 class="content">Registrate an admin</h3>

        <form method="post">
            {% csrf_token %}

            <div class="form-content"> <!-- 🔹 Envuelve los inputs para aplicar estilos personalizados -->
                {{ form.as_p }}
            </div>

            <button type="submit" class="btn-register">Register admin</button>
        </form>
    </div>
{% endblock body %}