{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/verify_email.css' %}">
    <title>{% trans "Verify email" %}</title>
{% endblock head %}

{% block body %}
    <div class="verification-container">
        <h4 class="content">{% trans "Verify email" %}</h4>
        <form method="post">
        {% csrf_token %}

            {{ form.code.label_tag }}
            <div class="code-input-wrapper">
                {{ form.code }}
            </div>
            {% if form.code.errors %}
                <div class="error">
                   {{ form.code.errors }}
                </div>
            {% endif %}

            <button type="submit" class="verify-button">{% trans "Verify email" %}</button>
        </form>
    </div>
    <script src="{% static 'users/js/verify_email.js' %}"></script>
{% endblock body %}