{% extends 'base.html' %}

{% block head %}
    <title>
        List passwords
    </title>
{% endblock head%}

{% block body %}
    <h3 class="content">Generated passwords</h3>
    <p>User: {{request.user}}</p>
    {% if passwords %}
        <ol>
            {% for password in passwords %}
                <li><p>Generated Password: {{password.password}}</p>
                    <p>Entropy of the password: {{password.entropy}}</p>
                    <p>Years necessaries to crack it: {{password.decryption_years_needed}}</p>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#confirmDelete{{ password.id }}">
                        Delete
                    </button>

                    <!-- Modal de Confirmación -->
                    <div class="modal fade" id="confirmDelete{{ password.id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete the password?
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'delete_password' password.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
        {% if is_paginated %}
            <div>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span>Page {{page_obj.number}} of {{page_obj.num_pages}}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <p>You have not generated passwords yet</p>

    {% endif %}
    <a href="{% url 'generator' %}">Generate a password</a>
{% endblock body %}