{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generator/css/list_passwords.css' %}?v=1">
    <title>
        Generated Passwords
    </title>
{% endblock head%}

{% block body %}

    <div class="table-container">
        <h3 class="content">Generated passwords</h3>
        {% if passwords %}
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Password</th>
                        <th>Entropy</th>
                        <th>Time to decrypt it</th>
                        <th>Generation Date</th>
                        <th>Delete Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in passwords %}
                        <tr>
                            <td>{{ password.password }}</td>
                            <td>{{ password.entropy }}</td>
                            <td>{{ password.decryption_years_needed }} años</td>
                            <td>{{ password.creation_date }}</td>
                            <td>
                                <button class="btn-center" type="button" data-bs-toggle="modal" data-bs-target="#confirmDelete{{ password.id }}">
                                    Delete
                                </button>

                                <!-- Modal de Confirmación -->
                                <div class="modal fade" id="confirmDelete{{ password.id }}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirm deletion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete the password?
                                            </div>
                                            <div class="modal-footer">
                                                <form method="post" action="{% url 'delete_password' password.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have not generated passwords yet</p>
        {% endif %}
        <br>
        {% if is_paginated %}
            <div class="pagination-container">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn-pagination">← Previous page</a>
                {% else %}
                    <span class="btn-pagination-disabled">← Previous page</span>
                {% endif %}

                <span class="pagination-info">Page {{ page_obj.number }} of {{ paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn-pagination">Next page →</a>
                {% else %}
                    <span class="btn-pagination-disabled">Next page →</span>
                {% endif %}
        {% endif %}
        </div>
        <a href="{% url 'generator' %}" class="btn-center">Generate a password</a>
    </div>
{% endblock body %}