{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generator/css/list_passwords.css' %}?v=1">
    <title>
        {% trans "Generated Passwords" %}
    </title>
{% endblock head%}

{% block body %}

    <div class="table-container">
        <h3 class="content">{% trans "Generated Passwords" %}</h3>
        {% if passwords %}
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>{% trans "Password" %}</th>
                        <th>{% trans "Entropy" %}</th>
                        <th>{% trans "Time to decrypt it" %}</th>
                        <th>{% trans "Generation Date" %}</th>
                        <th>{% trans "Delete Password" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in passwords %}
                        <tr>
                            <td>{{ password.password }}</td>
                            <td>{{ password.entropy }}</td>
                            <td>{{ password.decryption_years_needed }} {% trans "years" %}</td>
                            <td>{{ password.creation_date }}</td>
                            <td>
                                <button class="btn-center" type="button" data-bs-toggle="modal" data-bs-target="#confirmDelete{{ password.id }}">
                                    {% trans "Delete" %}
                                </button>

                                <!-- Modal de Confirmación -->
                                <div class="modal fade" id="confirmDelete{{ password.id }}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{% trans "Confirm deletion" %}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {% trans "Are you sure you want to delete the password?" %}
                                            </div>
                                            <div class="modal-footer">
                                                <form method="post" action="{% url 'delete_password' password.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans "You have not generated passwords yet" %}</p>
        {% endif %}
        <br>
        {% if is_paginated %}
            <div class="pagination-container">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn-pagination">← {% trans "Previous" %}</a>
                {% else %}
                    <span class="btn-pagination-disabled">← {% trans "Previous" %}</span>
                {% endif %}

                <span class="pagination-info">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn-pagination">{% trans "Next" %} →</a>
                {% else %}
                    <span class="btn-pagination-disabled">{% trans "Next" %} →</span>
                {% endif %}
        {% endif %}
        </div>
        <a href="{% url 'generator' %}" class="btn-center green">{% trans "Generate a Password" %}</a>
    </div>
{% endblock body %}