.btn-center {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-center:hover {
    background-color: darkred;
    transform: scale(1.05);
}

.length-error {
    color: red;
    font-size: 14px;
    font-weight: normal;
    margin-top: 2px;
}

.error {
    color: red;
}