h1 {
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin: 30px auto !important;
    padding: 20px;
    color: black;
    width: 60%;
    background-color: white !important;
    transition: transform 0.3s ease-in-out;
    border: 5px solid #CCC;
}

h1:hover{
    transform: scale(1.05);
}

.content {
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin: 30px auto !important;
    padding: 20px;
    color: black;
    width: 60%;
    background-color: white !important;
    transition: transform 0.3s ease-in-out;
    border: 5px solid #CCC;
}

.content:hover {
    transform: scale(1.05);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px;
    width: 100%;
}

.btn-header {
    background-color: blue;
    color: white !important;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-header:hover{
    background-color: #5bc5f7 ;
    transform: scale(1.05);
}

.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-grow: 1;
}

.login, .user-box {
    margin-left: auto;
}

.logout {
    margin-right: auto;
    background-color: red;
}

.logout:hover {
    background-color: darkred;
}

.green {
    background-color: green;
}

.green:hover {
    background-color: darkgreen;
}

.user-box {
    position: relative;
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

body {
    background-color: #B0D9FF !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
    min-width: 50px;
    z-index: 1000;
}

.dropdown-menu .menu-btn-link {
    display: block;
    text-align: center;
    padding: 8px;
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.dropdown-menu .menu-btn-link:hover {
    background: #f0f0f0;
    transform: scale(1.05)

}

.btn-logout-menu{
    width: 100%;
    padding: 8px;
    font-size: 15px;
}

select[name="language"] {
    border: 2px solid #ccc; /* Borde similar al botón de Settings */
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 8px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #ffffff; /* Fondo blanco */
    cursor: pointer; /* Indica que es interactivo */
    transition: all 0.3s ease; /* Transición suave */
    font-size: 16px;
}

/* Efectos dinámicos */
select[name="language"]:hover {
    background-color: #f0f0f0; /* Cambio de color en hover */
}

select[name="language"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}